<template>
  <div class="container">
    <List class="mt-10" />
  </div>
</template>

<script>
import List from '@/components/List.vue'
import Products from '@/modules/Products'
export default {
  components: {
    List,
  },
  asyncData(context) {
    return Products.loadProducts(context)
      .then((products) => {
        context.store.commit('SET_PRODUCTS', products)
      })
      .catch((e) => {
        console.log(e)
      })
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
